.header
{
    display: flex;
    padding: .5rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.list-items
{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 20px;
}
.user-nav
{
    display: flex;
    gap: 2rem;
}