.hero-div
{
    position: relative;
    display: flex;
    align-items: center;
}
.hero-text
{
    position: absolute;
    
    left: 3rem;
    z-index:1;
    margin: auto; 
    color: white;
}
.hero-text h4
{
    font-size: 30px;
    padding-block:.5rem;
}
.hero-text h1
{
    font-size: 80px;
}
.explore-btn
{
    padding: .5rem 1.5rem;
    font-size: 16px;
    color: white;
    background: transparent;
    margin-top: 1rem;
}
.carousel {
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider
{
  position:relative;
  width:max-content;
  margin:auto;
}
  .carousel-indicators {
    position:absolute;
    display: flex;
    gap:1rem;
    flex-direction:column;
    justify-content: center;
    margin-top: 10px;
    right: 1rem; top: 0; bottom: 0; margin: auto; 
  }

  .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
  }

  .carousel-indicators button.active {
    background-color: #333;
  }